{% extends 'base.html.twig' %}

{% block mainContent %}
    
    <h1 class="page-header">{{ lastActivity.title | default('') }}</h1>
    <div>{{ lastActivity.description|default('')}}</div>
    {% block surveys %}
        {% for survey in lastActivity.surveys %}
        {# if survey.type is 1 (Mentorship Agreement) #}
        <div class = "subDiv" id="agreement">
            {# Strenghts - What are you good at? How do you know you are good at them? #}
            <p class = "test">surveys.questions[0].label</p>
            {{ form_errors(forms[0]) }}
            {{ form_row(forms[0]) }}
            {# What are some things you would like to work on for school? In what ways would you like to do better? Where would you like to improve? #}
            <p class = "test">surveys.questions[1].label</p>
            {{ form_row(survey.questions[2].name) }}
            <p class = "test"> I, <span> <input class = "forms" type = "text" name = "mentee" placeholder="Mentee's Name"> </span>(protege) and I, <span> <input class = "forms" type = "text" name = "mentor" placeholder="Mentor's Name"> </span> (mentor) agree to work together each week <span> <input class = "forms" type = "text" name = "time"> </span> for the next <span> <input class = "forms" type = "text" name = "numWeeks" placeholder="eight/8"> </span> weeks. We commit to working hard to achieve academic goals and to reach <span> <input class = "forms" type = "text" name = "name"> </span>'s full potential</p> 
            <div class = "form-group">
              <form action="#" id="usrform">
              <p> Protege's Signature: <input type="text" name="protegeSign"> </p>
              <p> Mentor's Signature: <input type="text" name="mentorSign"> </p>
              {{ form_end(survey) }}
              </form>
            </div>            
        </div>
        {# elseif survey.type is 2 (Goal sheet) #}
        
        
        {# ... #}
        
        {# endif #}
        {% endfor %}
    {% endblock %}

{% endblock %}
