{% extends app.request.isXmlHttpRequest ? 'base_ajax.html.twig' : 'base.html.twig' %}
{% block sidebar_options %}
    <div class="row">
    {{ knp_menu_render('AppBundle:Builder:completedMenu') }}
    </div>
    <div class="row">
    {{ knp_menu_render('AppBundle:Builder:mainMenu') }}
    </div>    
{% block navbar %}
    {{ parent() }}
    {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
        <li><a class="btn btn-danger" href="{{ path('index_list', {'_switch_user': '_exit'}) }}">Back to my account</a></li>
    {% endif %}
{% endblock %}
        
    

{#
{% block scripts %}
    {{parent()}}
    <script>
        $(function()
        {
            function onMainAnchorClick(e)
            {
                e.preventDefault();
                var href = jQuery(this).attr('href');
                $( '#main' ).load( href );
                console.log(href);                
            }
            $('#sidebar a').click(function(e) {
                e.preventDefault();
                var url = $(this).attr('href');

                $('#main').load(url);
            });
            $('a.xhrl').click(onMainAnchorClick)      
        })          
    </script>  
{%endblock%}
#}    