{% extends 'student/base.html.twig' %}

{% block main_content %}
    <div class="row">
      <h2 class="sub-header">Self Assessment ({{title}}) </h2>
      <img src="{{asset('topRight.png')}}" width="100" height="100" style="float:right" >
    </div>
    {% set lastAnswer = answers|last %}
    {% set lastQuestion = questions|last %}
    {% set qLength = questions|length %}
    {% set aLength = answers|length %}
    
    {% set questions = questions|slice(0, qLength - 1) %}
    {% set answers = answers|slice(0, aLength - 1) %}
    
    {% for answerBatch in answers|batch(questions|length, 'Couldn\'t retrieve answer for this question') %}
        {% for key, answer in answerBatch %}
        <div class="row form-group">
            <label class="col-sm-11 control-label align-self-center">{{ questions[key] }}</label>
            <div class="col-sm-1 text-center well"><i>{{ answer }}</i></div>                    
        </div>
        <hr>
        {% endfor %}
    {% endfor %}
        <div class="row form-group">
            <label class="col-sm-12 control-label">{{ lastQuestion }}</label>
        </div>        
        <div class="col-sm-12 well"><i>{{ lastAnswer }}</i></div>                    
    {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
        {% set session = app.request.attributes.get('num') %}
        {% set type = app.request.attributes.get('type') %}
        
        <a class="btn btn-warning col-sm-6 col-md-1" href="{{ path('answers_save', {'id':session,'type':'self-assess-' ~ type}) }}">Save<a>
    {% endif %}

{% endblock %}